#UMIT KILINC
#101232721

In [222]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [213]:
tennisDS = pd.read_csv("/content/tennisDS.csv")

In [199]:
print(tennisDS.shape)

(26, 5)

In [200]:
tennisDS.head() #change the csv according to test_tennisDB column names

  Visibility Pressure WindSpeed   Court   Teammate
0  Unlimited     High      Fast    Open  Available
1    Limited      Low      Slow  Closed       Busy
2  Unlimited      Low      Fast    Open       Busy
3    Limited     High      Slow  Closed  Available
4  Unlimited      Low      Fast    Open  Available

In [201]:
print(tennisDS.columns.tolist())

['Visibility', 'Pressure', 'WindSpeed', 'Court', 'Teammate']

In [202]:
tennisDS["Visibility"] = tennisDS["Visibility"].map({"Unlimited": 1, "Limited": 0})
tennisDS["Pressure"] = tennisDS["Pressure"].map({"High": 1, "Low": 0})
tennisDS["WindSpeed"] = tennisDS["WindSpeed"].map({"Fast": 1, "Slow": 0})
tennisDS["Court"] = tennisDS["Court"].map({"Open": 1, "Closed	": 0})
tennisDS["Teammate"] = tennisDS["Teammate"].map({"Available": 1, "Busy": 0})

In [203]:
tennisDS = tennisDS.fillna(1)

In [204]:
pd.isna(tennisDS)

    Visibility  Pressure  WindSpeed  Court  Teammate
0        False     False      False  False     False
1        False     False      False  False     False
2        False     False      False  False     False
3        False     False      False  False     False
4        False     False      False  False     False
5        False     False      False  False     False
6        False     False      False  False     False
7        False     False      False  False     False
8        False     False      False  False     False
9        False     False      False  False     False
10       False     False      False  False     False
11       False     False      False  False     False
12       False     False      False  False     False
13       False     False      False  False     False
14       False     False      False  False     False
15       False     False      False  False     False
16       False     False      False  False     False
17       False     False      False  False     False
18       False     False      False  False     False
19       False     False      False  False     False
20       False     False      False  False     False
21       False     False      False  False     False
22       False     False      False  False     False
23       False     False      False  False     False
24       False     False      False  False     False
25       False     False      False  False     False

In [205]:
tennisDS.head()

   Visibility  Pressure  WindSpeed  Court  Teammate
0           1         1          1    1.0         1
1           0         0          0    1.0         0
2           1         0          1    1.0         0
3           0         1          0    1.0         1
4           1         0          1    1.0         1

In [214]:
test_tennisDS = pd.read_csv("/content/test_tennisDB.csv")

In [207]:
test_tennisDS.head()

  Visibility Pressure WindSpeed   Court   Teammate
0  Unlimited      Low      Fast    Open  Available
1    Limited      Low      Slow  Closed       Busy
2    Limited     High      Slow  Closed       Busy
3  Unlimited      Low      Fast    Open  Available
4    Limited     High      Slow  Closed       Busy

In [208]:
pd.isna(test_tennisDS)

    Visibility  Pressure  WindSpeed  Court  Teammate
0        False     False      False  False     False
1        False     False      False  False     False
2        False     False      False  False     False
3        False     False      False  False     False
4        False     False      False  False     False
5        False     False      False  False     False
6        False     False      False  False     False
7        False     False      False  False     False
8        False     False      False  False     False
9        False     False      False  False     False
10       False     False      False  False     False
11       False     False      False  False     False
12       False     False      False  False     False
13       False     False      False  False     False
14       False     False      False  False     False
15       False     False      False  False     False
16       False     False      False  False     False
17       False     False      False  False     False
18       False     False      False  False     False
19       False     False      False  False     False
20       False     False      False  False     False
21       False     False      False  False     False
22       False     False      False  False     False
23       False     False      False  False     False
24       False     False      False  False     False
25       False     False      False  False     False

In [209]:
test_tennisDS.shape

(26, 5)

In [215]:
test_tennisDS["Visibility"] = test_tennisDS["Visibility"].map({"Unlimited": 1, "Limited": 0})
test_tennisDS["Pressure"] = test_tennisDS["Pressure"].map({"High": 1, "Low": 0})
test_tennisDS["WindSpeed"] = test_tennisDS["WindSpeed"].map({"Fast": 1, "Slow": 0})
test_tennisDS["Court"] = test_tennisDS["Court"].map({"Open": 1, "Closed	": 0})
test_tennisDS["Teammate"] = test_tennisDS["Teammate"].map({"Available": 1, "Busy": 0})

In [216]:
# Training
X_training = train_test_split(tennisDS.iloc[:,1:6].values)
X_test = train_test_split(test_tennisDS.iloc[:, :].values)
y_training = tennisDS.iloc[:, -1].values

In [224]:
dtc = DecisionTreeClassifier()
dtc.fit(X_training, y_training)
prediction_y = dtc.predict(X_test)

ValueError: ignored