#UMIT KILINC
#101232721

In [146]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [147]:
tennisDS = pd.read_csv("/content/tennisDS.csv")

In [148]:
print(tennisDS.shape)

(26, 5)

In [149]:
tennisDS.head() #change the csv according to test_tennisDB column names

  Visibility Pressure WindSpeed         Court      Teammate
0  Unlimited     High      Fast  NotAvailable     Available
1  Unlimited     High      Slow  NotAvailable  NotAvailable
2  Unlimited      Low      Fast     Available  NotAvailable
3  Unlimited     High      Slow  NotAvailable  NotAvailable
4  Unlimited      Low      Fast  NotAvailable     Available

In [150]:
print(tennisDS.columns.tolist())

['Visibility', 'Pressure', 'WindSpeed', 'Court', 'Teammate']

In [151]:
tennisDS["Visibility"] = tennisDS["Visibility"].map({"Limited": 0, "Unlimited": 1})
tennisDS["Pressure"] = tennisDS["Pressure"].map({"Low": 0, "High": 1})
tennisDS["WindSpeed"] = tennisDS["WindSpeed"].map({"Slow": 0, "Fast": 1})
tennisDS["Court"] = tennisDS["Court"].map({"NotAvailable": 0, "Available	": 1})
tennisDS["Teammate"] = tennisDS["Teammate"].map({"NotAvailable": 0, "Available": 1})

In [152]:
pd.isna(tennisDS)

    Visibility  Pressure  WindSpeed  Court  Teammate
0        False     False      False  False     False
1        False     False      False  False     False
2        False     False      False   True     False
3        False     False      False  False     False
4        False     False      False  False     False
5        False     False      False  False     False
6        False     False      False   True     False
7        False     False      False  False     False
8        False     False      False   True     False
9        False     False      False  False     False
10       False     False      False   True     False
11       False     False      False  False     False
12       False     False      False  False     False
13       False     False      False  False     False
14       False     False      False   True     False
15       False     False      False  False     False
16       False     False      False   True     False
17       False     False      False  False     False
18       False     False      False  False     False
19       False     False      False   True     False
20       False     False      False   True     False
21       False     False      False  False     False
22       False     False      False  False     False
23       False     False      False   True     False
24       False     False      False   True     False
25       False     False      False  False     False

In [154]:
tennisDS.head()

   Visibility  Pressure  WindSpeed  Court  Teammate
0           1         1          1    0.0         1
1           1         1          0    0.0         0
2           1         0          1    NaN         0
3           1         1          0    0.0         0
4           1         0          1    0.0         1

In [156]:
test_tennisDB = pd.read_csv("/content/test_tennisDB.csv")

In [157]:
test_tennisDB.head()

  Visibility Pressure WindSpeed   Court   Teammate
0  Unlimited      Low      Fast    Open  Available
1    Limited      Low      Slow  Closed       Busy
2    Limited     High      Slow  Closed       Busy
3  Unlimited      Low      Fast    Open  Available
4    Limited     High      Slow  Closed       Busy