#UMIT KILINC
#101232721

**Part A**

In [99]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [100]:
tennisDS = pd.read_csv("/content/tennisDS.csv")

In [101]:
print(tennisDS.shape)

(26, 5)

In [102]:
tennisDS.head()

  Visibility Pressure WindSpeed   Court   Teammate
0  Unlimited     High      Fast    Open  Available
1    Limited     High      Slow    Open  Available
2  Unlimited      Low      Fast  Closed       Busy
3  Unlimited     High      Fast    Open  Available
4  Unlimited     High      Slow    Open       Busy

In [103]:
print(tennisDS.columns.tolist())

['Visibility', 'Pressure', 'WindSpeed', 'Court', 'Teammate']

In [104]:
# Giving numerical value to each row name in specific columns in tennisDS
tennisDS["Visibility"] = tennisDS["Visibility"].map({"Unlimited": 1, "Limited": 0})
tennisDS["Pressure"] = tennisDS["Pressure"].map({"High": 1, "Low": 0})
tennisDS["WindSpeed"] = tennisDS["WindSpeed"].map({"Fast": 1, "Slow": 0})
tennisDS["Court"] = tennisDS["Court"].map({"Open": 1, "Closed": 0})
tennisDS["Teammate"] = tennisDS["Teammate"].map({"Available": 1, "Busy": 0})

In [105]:
tennisDS.head()

   Visibility  Pressure  WindSpeed  Court  Teammate
0           1         1          1      1         1
1           0         1          0      1         1
2           1         0          1      0         0
3           1         1          1      1         1
4           1         1          0      1         0

In [ ]:
# Detect if the data is missing values
pd.isna(tennisDS)

In [107]:
# Separating the data variables into two data frames
X = tennisDS.drop(["Teammate"], axis=1)
Y = tennisDS["Teammate"]

# Splitting the dataset into 70% training data and 30% testing data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.30, random_state=0)

# Building the decision tree model on our dataset
model = DecisionTreeRegressor().fit(X_train,Y_train)
predict = model.predict(X_test)

predict

array([0.2 , 1.  , 0.25, 1.  , 0.  , 1.  , 1.  , 0.  ])

**Part B**

In [108]:
from sklearn import tree
from sklearn import datasets
from sklearn.metrics import accuracy_score

In [109]:
covidDS = pd.read_csv("/content/covidDS.csv")
covidDS.shape

(35, 3)

In [ ]:
# Detect if the data is missing values
pd.isna(covidDS)

In [111]:
# Splitting the dataset into 70% training data and 30% testing data
X_train , X_test, Y_train, Y_test = train_test_split(covidDS.iloc[:,:-1].values, covidDS.iloc[:,-1].values, test_size=0.3)

In [112]:
dtc = DecisionTreeClassifier().fit(X_train,Y_train.ravel())
Y_prediction = dtc.predict(X_test)
print(accuracy_score(Y_test,Y_prediction))

0.6363636363636364