**Assignment 4 - Working With Pandas**

**Umit Kilinc 101232721**

In [3]:
# 1. Download the test.csv file and store it in a DataFrame named, myDF.

import pandas as pd
DF = pd.read_csv("/content/test.csv")

In [ ]:
# 2.	Show the first three rows of the DF.

In [ ]:
# 3.	Delete the ‘Model’ column from the DF temporarily.

In [4]:
# 4.	Delete the ‘Model’ column permanently, using the assignment (Not inplace parameter). Is there any 
# output when you run the permanent deletion? So, how can you make sure it is deleted?

In [5]:
# 5.	Now, let’s delete rows 1, 3, and 5 permanently, using inplace. Then show the first 4 Rows of myDF.

In [6]:
# 6.	Calculate the mean of ‘Range’ column.

In [7]:
# 7.	How many ‘F’ do we have in the ‘Type’ column? Replace them permanently with ‘AAA’ and show the first 5 rows.

In [8]:
# 8.	Get rid of the [, $ and ] from the ‘Cost’ column permanently and display the first 5 rows. What is the type of ‘Cost’ column after this?

In [9]:
# 9.	Change the ‘Cost’ column data type to integer and display the result.

In [10]:
# 10.	Calculate the average of ‘Cost’ column. Then, calculate the average of ‘Cost’ for each ‘Continent’.

In [11]:
# 11.	Calculate the min, max and standard deviation of the ‘Cost’ column, group by each ‘Continent’, all in one command.

In [12]:
# 12.	Calculate the min, max and standard deviation of all numerical columns, group by each ‘Continent’, all in one command.

In [13]:
# 13.	Illustrate the mean of all numerical columns, group by the ‘Continent’, using a ‘bar’ chart.

In [14]:
# 14.	Count the number of each continent in the ‘Continent’ column.

In [15]:
# 15.	Show the percentage of each continent in the ‘Continent’ column.

In [16]:
# 16.	Show the unique values that we have in the ‘Continent’ column. Then show the number of unique values that we have in the ‘Continent’ column.

In [17]:
# 17.	Use the value_count method for the ‘Cost’ column and describe the output as a comment in the next cell, using the # for the comment.

In [18]:
# 18.	Plot a histogram for the ‘Cost’ column.

In [19]:
# 19.	Bonus question: Try to change the number of bins to 50 to show the result more accurately.

In [33]:
# 20.	How many missing values do we have in the ‘Zip Code’ column? How many missing values in the ‘Type’ column? 
# Provide a brief summary of null values for the entire Data Frame.

In [22]:
# 21.	If we drop all the rows that have ‘any’ missing value, how many rows will remain in myDF?

In [23]:
# 22.	Show the statistics for the ‘Type’ column using the value_count method, including the NaN values in the list. How many missing values do we have?

In [24]:
# 23.	Replace the ‘Type’ column missing values with ‘XXX’ and show the result again.

In [25]:
# 24.	Drop the rows that have any missing value permanently and show the number of rows after running the drop command.

In [26]:
# 25.	Set the ‘ID’ column as the new index and delete the index name. Then show the first 5 rows of the DF. 
#Show the value of the cell that its ID is 70 and its column header is ‘Value’.

In [27]:
# 26.	Show the index, columns and the shape of the current DF. Bring back the ID column to the DF and reset the index. 
# Again, show the index, columns and the shape of the current DF.

In [28]:
# 27.	Use the describe method to see the statistics of myDF and fetch the value of the first row and the third column of the result.

In [29]:
# 28.	Sort the value_counts() of the ‘Continent’ column of the DF. 
# Then, sort the value_counts() of the ‘Continent’ column, based on the alphabetic order of the continents.

In [30]:
# 29.	Show all the columns of the following rows in one command. [1,3,5,7] and show the first 7 rows of the following columns: ‘Type’ and ‘Continent’

In [ ]:
# 30.	Show the ‘Value’ of the ‘Type’ that are equal to ’XXX’.