In [1]:
import pandas as pd

In [17]:
oDF = pd.read_table("/content/OstapDS.tsv", sep="\t")

In [18]:
oDF.head()

    Nane LastName        StID
0   Reza    Dibaj  1012974533
1  Ronak     Gala  1015821478

In [10]:
rDF = pd.read_table("/content/RaufDS.csv", sep = ",")

In [11]:
rDF.head()

    Nane LastName        StID
0   Reza    Dibaj  1012974533
1  Ronak     Gala  1015821478

In [15]:
eDF = pd.read_table("/content/ElnazDS.tsv", sep = "|")

In [16]:
eDF.head()

    Nane LastName        StID
0   Reza    Dibaj  1012974533
1  Ronak     Gala  1015821478

In [20]:
orders = pd.read_table("/content/chipotle.tsv")

In [23]:
orders.shape

(4622, 5)

In [31]:
pd.read_table("http://bit.ly/movieusers", sep="|", header = None)

       0   1  2              3      4
0      1  24  M     technician  85711
1      2  53  F          other  94043
2      3  23  M         writer  32067
3      4  24  M     technician  43537
4      5  33  F          other  15213
..   ...  .. ..            ...    ...
938  939  26  F        student  33319
939  940  32  M  administrator  02215
940  941  20  M        student  97229
941  942  48  F      librarian  78209
942  943  22  M        student  77841

[943 rows x 5 columns]

In [32]:
user_cols = ["user_id", "age", "gender", "occupation", "zip_code"]

In [34]:
users = pd.read_table("http://bit.ly/movieusers", sep="|", header = None, names = user_cols)

In [35]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [37]:
ufo = pd.read_csv("http://bit.ly/uforeports")

In [40]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [41]:
type(ufo)

pandas.core.frame.DataFrame

In [44]:
ufo["City"]

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [45]:
type(ufo["City"])

pandas.core.series.Series

In [51]:
ufo.State

0        NY
1        NJ
2        CO
3        KS
4        NY
         ..
18236    IL
18237    IA
18238    WI
18239    WI
18240    FL
Name: State, Length: 18241, dtype: object

In [52]:
ufo["Colors Reported"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [53]:
"Um" + "it"

'Umit'

In [56]:
ufo["City"] + ", " + ufo["State"]

0                      Ithaca, NY
1                 Willingboro, NJ
2                     Holyoke, CO
3                     Abilene, KS
4        New York Worlds Fair, NY
                   ...
18236              Grant Park, IL
18237             Spirit Lake, IA
18238             Eagle River, WI
18239             Eagle River, WI
18240                    Ybor, FL
Length: 18241, dtype: object

In [57]:
ufo["Location"] = ufo["City"] + ", " + ufo["State"]

In [58]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [59]:
ufo.zone = ufo["City"] + ", " + ufo["State"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [61]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [62]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [64]:
movies.shape

(979, 6)

In [66]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [67]:
movies.describe(include=["object"])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [68]:
ufo.rename(columns = {"Colors Reported": "Colors_Reported", "Shape Reported": "Shape_Reported"}, inplace = True)

In [69]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time',
       'Location'],
      dtype='object')

In [85]:
ufo_cols = ["city", "color reported", "shape reported", "state", "time"]

In [86]:
ufo.columns = ufo_cols

In [87]:
ufo.head()

                   city color reported shape reported state             time
0                Ithaca            NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro            NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke            NaN           OVAL    CO  2/15/1931 14:00
3               Abilene            NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair            NaN          LIGHT    NY  4/18/1933 19:00

In [88]:
ufo = pd.read_csv("http://bit.ly/uforeports", names = ufo_cols, header = 0)

In [89]:
ufo.head()

                   city color reported shape reported state             time
0                Ithaca            NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro            NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke            NaN           OVAL    CO  2/15/1931 14:00
3               Abilene            NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair            NaN          LIGHT    NY  4/18/1933 19:00

In [90]:
ufo.columns

Index(['city', 'color reported', 'shape reported', 'state', 'time'], dtype='object')

In [91]:
ufo.columns = ufo.columns.str.replace(" ", "_")

In [92]:
ufo.columns

Index(['city', 'color_reported', 'shape_reported', 'state', 'time'], dtype='object')

In [93]:
ufo.shape

(18241, 5)

In [96]:
ufo.drop("color_reported", axis = 1, inplace = True)

In [97]:
ufo.head()

                   city shape_reported state             time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [98]:
ufo.drop(["city", "state"], axis = 1, inplace = True)

In [99]:
ufo.head()

  shape_reported             time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

In [100]:
ufo.shape

(18241, 2)

In [102]:
ufo.drop([0, 1], axis = 0, inplace = True)

In [103]:
ufo.shape

(18239, 2)