**Umit Kilinc** 

**101232721**

In [121]:
import pandas as pd

In [122]:
# 1.	Download the test.csv file and store it in a DataFrame.
DF = pd.read_csv("/content/test.csv")

In [123]:
# 2.	Show the first five rows of the DF.
DF.head()

   10    192    50  F  NXEYEM
0  20  299.0  21.0  M  VNFKZD
1  30  378.0  28.0  X  IMGMFY
2  40  156.0  44.0  Q  RHRHJY
3  50  468.0  33.0  J  HPQCMC
4  60  347.0  38.0  X  XFEWVB

In [124]:
# 3.	Does the first row contain the column names? If not, please assign the following column names to them:
# [ID, Range, Value, Machine Type, Zip code]

DF_columns = ["ID", "Range", "Value", "Machine Type", "Zip Code"]
DF = pd.read_csv("/content/test.csv", names=DF_columns)
DF

       ID  Range  Value Machine Type Zip Code
0      10  192.0   50.0            F   NXEYEM
1      20  299.0   21.0            M   VNFKZD
2      30  378.0   28.0            X   IMGMFY
3      40  156.0   44.0            Q   RHRHJY
4      50  468.0   33.0            J   HPQCMC
..    ...    ...    ...          ...      ...
946  9460  136.0   12.0            C   HGVBPV
947  9470  316.0   46.0            L   SHBAUD
948  9480  461.0   46.0            K   PUZUVO
949  9490  185.0   13.0            N   UMESZO
950  9500  137.0   10.0            W   JOHHVL

[951 rows x 5 columns]

In [125]:
# 4.	Add your name and student number on top of your dataset in your local file and show your DF with your name and student number as part of the dataset.
new_DF = [{
    "ID": "Umit Kilinc 101232721",
}]

DF = DF.append(new_DF)
DF

                        ID  Range  Value Machine Type Zip Code
0                       10  192.0   50.0            F   NXEYEM
1                       20  299.0   21.0            M   VNFKZD
2                       30  378.0   28.0            X   IMGMFY
3                       40  156.0   44.0            Q   RHRHJY
4                       50  468.0   33.0            J   HPQCMC
..                     ...    ...    ...          ...      ...
947                   9470  316.0   46.0            L   SHBAUD
948                   9480  461.0   46.0            K   PUZUVO
949                   9490  185.0   13.0            N   UMESZO
950                   9500  137.0   10.0            W   JOHHVL
0    Umit Kilinc 101232721    NaN    NaN          NaN      NaN

[952 rows x 5 columns]

In [126]:
# 5.	Now, use a method to skip the first row and show the DF as it was before adding your information.
pd.read_csv("/content/test.csv", skiprows=0, names=DF_columns)

       ID  Range  Value Machine Type Zip Code
0      10  192.0   50.0            F   NXEYEM
1      20  299.0   21.0            M   VNFKZD
2      30  378.0   28.0            X   IMGMFY
3      40  156.0   44.0            Q   RHRHJY
4      50  468.0   33.0            J   HPQCMC
..    ...    ...    ...          ...      ...
946  9460  136.0   12.0            C   HGVBPV
947  9470  316.0   46.0            L   SHBAUD
948  9480  461.0   46.0            K   PUZUVO
949  9490  185.0   13.0            N   UMESZO
950  9500  137.0   10.0            W   JOHHVL

[951 rows x 5 columns]

In [127]:
# 6.	Show the type of your DF.
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
dtype: object

In [128]:
# 7.	Select the ‘Value’ column using two different commands. Which one is more object-oriented style?

# Using loc[] to select columns. Enter the name of the column:
DF_value = DF.loc[:, ["Value"]]
DF_value

     Value
0     50.0
1     21.0
2     28.0
3     44.0
4     33.0
..     ...
947   46.0
948   46.0
949   13.0
950   10.0
0      NaN

[952 rows x 1 columns]

In [129]:
# 8.	What is the type of this selected column?
DF["Value"].dtypes

dtype('float64')

In [ ]:
# 9.	Can we apply both methods (mentioned in question 7) for 
#fetching the ‘Zip code’ column? Which other column has the same status? Why we cannot use both method for fetching its content? 

# Using iloc[] to select multiple columns. Enter the index of the columns:
DF_multiple = DF.iloc[:, [2, 4]]
DF_multiple

 Yes, we can apply both methods to fetch both "Value" and "Zip Code" column



 Using ```loc[]```
 to select multiple columns. Enter the name of the columns:
 
```DF_multiple = DF.loc[:, ["Value", "Zip Code"]]```

```DF_multiple```

In [130]:
# 10.	Create a new Series called ‘Brand’ by combining 'Machine Type' and 'Zip code' Series.
DF["Brand"] = DF["Machine Type"] + DF['Zip Code']
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand
0  10  192.0   50.0            F   NXEYEM  FNXEYEM
1  20  299.0   21.0            M   VNFKZD  MVNFKZD
2  30  378.0   28.0            X   IMGMFY  XIMGMFY
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY
4  50  468.0   33.0            J   HPQCMC  JHPQCMC

In [131]:
# 11.	Create a new Series called ‘Total’ by multiplying ‘Range’ and ‘Value’ Series.
DF["Total"] = DF["Range"] * DF['Value']
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [132]:
# 12.	Use the following commands:
# a.	myDF.head()
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [133]:
# b.	myDF.describe()
DF.describe()

            Range       Value         Total
count  950.000000  950.000000    950.000000
mean   297.437895   29.943158   8965.992632
std    115.828540   12.267347   5261.283254
min    100.000000   10.000000   1090.000000
25%    194.000000   19.000000   4864.750000
50%    296.000000   30.000000   7916.000000
75%    398.750000   41.000000  12367.750000
max    500.000000   50.000000  24750.000000

In [134]:
# c.	myDF.describe
DF.describe

<bound method NDFrame.describe of                         ID  Range  Value Machine Type Zip Code    Brand  \
0                       10  192.0   50.0            F   NXEYEM  FNXEYEM
1                       20  299.0   21.0            M   VNFKZD  MVNFKZD
2                       30  378.0   28.0            X   IMGMFY  XIMGMFY
3                       40  156.0   44.0            Q   RHRHJY  QRHRHJY
4                       50  468.0   33.0            J   HPQCMC  JHPQCMC
..                     ...    ...    ...          ...      ...      ...
947                   9470  316.0   46.0            L   SHBAUD  LSHBAUD
948                   9480  461.0   46.0            K   PUZUVO  KPUZUVO
949                   9490  185.0   13.0            N   UMESZO  NUMESZO
950                   9500  137.0   10.0            W   JOHHVL  WJOHHVL
0    Umit Kilinc 101232721    NaN    NaN          NaN      NaN      NaN

       Total
0     9600.0
1     6279.0
2    10584.0
3     6864.0
4    15444.0
..       ...
947  14536.0
948  21206.0
949   2405.0
950   1370.0
0        NaN

[952 rows x 7 columns]>

In [135]:
# d.	myDF.shape
DF.shape

(952, 7)

In [136]:
# e.	myDF.dtypes.
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
Brand            object
Total           float64
dtype: object

 Why some have parentheses and some don’t? What is the difference between b. and c.?

In pandas actions require parantheses and attributes don't require paranthesis. 
 The difference between b. and c. is that b. is an action. 
 
 An action is a state of what you do. For instance, ```dog.sleep()``` or ```dog.bark(to_stranger)```.

 c. is an attribute. An attribute is a state of who you are. For instance, ```dog.breed``` or ```dog.color```.

In [137]:
# 13.	How can we use the describe() method to show the statistics for the object (not numerical) columns? 

# Describing all columns with object
DF.describe(include="object")

         ID Machine Type Zip Code    Brand
count   952          948      941      939
unique  952           26      941      939
top      10            F   NXEYEM  FNXEYEM
freq      1           50        1        1

In [138]:
# 14.	Rename the ‘ID’ to ‘My ID’ in the DF without replacing the ID Series name in the original DF. Show the unchanged DF by displaying the top 5 rows.
DF.rename(columns = {"ID": "My ID"}, inplace= False)
#DF.head()

,My ID,Range,Value,Machine Type,Zip Code,Brand,Total
0,10,192.0,50.0,F,NXEYEM,FNXEYEM,9600.0
1,20,299.0,21.0,M,VNFKZD,MVNFKZD,6279.0
2,30,378.0,28.0,X,IMGMFY,XIMGMFY,10584.0
3,40,156.0,44.0,Q,RHRHJY,QRHRHJY,6864.0
4,50,468.0,33.0,J,HPQCMC,JHPQCMC,15444.0
...,...,...,...,...,...,...,...
947,9470,316.0,46.0,L,SHBAUD,LSHBAUD,14536.0
948,9480,461.0,46.0,K,PUZUVO,KPUZUVO,21206.0
949,9490,185.0,13.0,N,UMESZO,NUMESZO,2405.0
950,9500,137.0,10.0,W,JOHHVL,WJOHHVL,1370.0
0,Umit Kilinc 101232721,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
# 15.	Rename the ‘ID’ to ‘My ID’ inplace and show the changed column name using the head() method.
DF.rename(columns = {"ID": "My ID"}, inplace= True)
DF.head()

  My ID  Range  Value Machine Type Zip Code    Brand    Total
0    10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1    20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2    30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3    40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4    50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [140]:
# 16.	Show the DF columns.
print(DF.columns.tolist())

['My ID', 'Range', 'Value', 'Machine Type', 'Zip Code', 'Brand', 'Total']

In [141]:
# 17.	Change all the column names to ['id', 'range', 'value', 'machine type', 'zip code', 'brand', 'total'] and display the new column names.
DF_new_columns = ["id", "range", "value", "machine type", "zip code", "brand", "total"]
DF.columns = DF_new_columns
DF.head()

   id  range  value machine type zip code    brand    total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [142]:
# 18.	Replace all the spaces in the column names with ‘_’ and show the changed column again.
DF.columns = DF.columns.str.replace(" ", "_") 
DF.columns

Index(['id', 'range', 'value', 'machine_type', 'zip_code', 'brand', 'total'], dtype='object')

In [143]:
# 19.	Delete the 'brand', 'total' columns permanently. 
DF.drop(["brand", "total"], axis = 1, inplace = True)
DF.head()

   id  range  value machine_type zip_code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [145]:
# 20.	Delete row number 3 and row number 5 from the DF permanently and show the top 5 rows.
DF.drop([3, 5], axis = 0, inplace=True)
DF.head()

   id  range  value machine_type zip_code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
6  70  327.0   24.0            F   NLVQPY
7  80  495.0   50.0            Z   DLUMAX
8  90  115.0   30.0            S   KYJUHA

In [146]:
# 21.	Sort the value Series in ascending order, showing only the value column.
DF["value"].sort_values(ascending = True)

950    10.0
635    10.0
888    10.0
203    10.0
648    10.0
       ...
109    50.0
670    50.0
0      50.0
921     NaN
0       NaN
Name: value, Length: 948, dtype: float64

In [147]:
# 22.	Sort the value Series in ascending order, showing the whole DataFrame. 
DF.sort_values("value", ascending = True)
#DF.head()

                               id  range  value machine_type zip_code
950                          9500  137.0   10.0            W   JOHHVL
635                          6360  146.0   10.0            Y   TARJLJ
888                          8890  430.0   10.0            Q   VXHFZN
203                          2040  148.0   10.0            T   NRLBSZ
648                          6490  494.0   10.0            B   QBVLDA
..                            ...    ...    ...          ...      ...
109                          1100  127.0   50.0            C   KRFLNX
670                          6710  191.0   50.0            A   QSURZT
0                              10  192.0   50.0            F   NXEYEM
921  #Reza Dibaj, ST ID=101280076    NaN    NaN          NaN      NaN
0           Umit Kilinc 101232721    NaN    NaN          NaN      NaN

[948 rows x 5 columns]

In [148]:
# 23.	Sort the value Series in ascending order, showing the whole DataFrame, inplace.
DF.sort_values("value", ascending = True, inplace = True)
#DF.head()

In [149]:
DF.head()

       id  range  value machine_type zip_code
950  9500  137.0   10.0            W   JOHHVL
635  6360  146.0   10.0            Y   TARJLJ
888  8890  430.0   10.0            Q   VXHFZN
203  2040  148.0   10.0            T   NRLBSZ
648  6490  494.0   10.0            B   QBVLDA

In [150]:
# 24.	Sort DF DataFrame based on the range and value in ascending and descending order, respectively. (range in ascending and value in descending order).
DF.sort_values(["range", "value"], 
               ascending=[True, False])

                               id  range  value machine_type zip_code
504                          5050  100.0   21.0            S   KLYYQV
462                          4630  101.0   26.0            P   PBJHPM
798                          7990  101.0   20.0            E   QXAZJW
556                          5570  102.0   15.0            M   SSGQYR
751                          7520  103.0   44.0            Q   XOGVUH
..                            ...    ...    ...          ...      ...
411                          4120  500.0   27.0            Q   NRNLPN
731                          7320  500.0   20.0            Z   JUKAMV
423                          4240  500.0   17.0            Q   IYUYPO
921  #Reza Dibaj, ST ID=101280076    NaN    NaN          NaN      NaN
0           Umit Kilinc 101232721    NaN    NaN          NaN      NaN

[948 rows x 5 columns]

In [152]:
# 25.	Display those rows of DF that their range is between 250 and 350.
DF[DF["range"].between(250, 350)].sort_values(by = ["range"])

       id  range  value machine_type zip_code
57    580  250.0   19.0            K   EFXWGS
262  2630  250.0   12.0            O   ZZIXOA
811  8120  251.0   49.0            D   QOWNHD
307  3080  251.0   26.0            Z   YCKPXV
276  2770  252.0   38.0            J   SKKOYK
..    ...    ...    ...          ...      ...
738  7390  350.0   24.0            X      NaN
645  6460  350.0   30.0            Q   LVDEAS
833  8340  350.0   46.0            K   NCUWLM
538  5390  350.0   10.0            J   WEUVDY
382  3830  350.0   14.0            M   FOIOWR

[204 rows x 5 columns]

In [153]:
# 26.	Display those rows of DF that their range is between 250 and 350 in an ascending sorted format.
DF[DF["range"].between(250, 350)].sort_values(by = ["range"], ascending = True)

       id  range  value machine_type zip_code
57    580  250.0   19.0            K   EFXWGS
262  2630  250.0   12.0            O   ZZIXOA
811  8120  251.0   49.0            D   QOWNHD
307  3080  251.0   26.0            Z   YCKPXV
276  2770  252.0   38.0            J   SKKOYK
..    ...    ...    ...          ...      ...
738  7390  350.0   24.0            X      NaN
645  6460  350.0   30.0            Q   LVDEAS
833  8340  350.0   46.0            K   NCUWLM
538  5390  350.0   10.0            J   WEUVDY
382  3830  350.0   14.0            M   FOIOWR

[204 rows x 5 columns]

In [154]:
# 27.	Display only the id and value columns of those rows of DF that their range is between 250 and 350.
range = DF.range
DF[(range >=250) & (range <= 350)][["id", "value"]]

       id  value
506  5070   10.0
686  6870   10.0
538  5390   10.0
808  8090   11.0
438  4390   11.0
..    ...    ...
542  5430   50.0
306  3070   50.0
260  2610   50.0
255  2560   50.0
145  1460   50.0

[204 rows x 2 columns]

In [155]:
# 28.	Display only the id, value and machine_type columns of the of those rows of DF that their range is between 250 and 350 and their ‘machine_type’ is equal to ‘H’.
range = DF.range
mt = DF.machine_type
DF[(range >=250) & (range <= 350) & (mt == "H")]

       id  range  value machine_type zip_code
438  4390  262.0   11.0            H   JLHUNV
611  6120  333.0   11.0            H   YHTGCK
302  3030  260.0   14.0            H   TKPHZO
493  4940  265.0   16.0            H   WCFHLX
445  4460  280.0   32.0            H   RFJDWA
525  5260  342.0   32.0            H   JNICZG
620  6210  261.0   47.0            H      NaN
260  2610  287.0   50.0            H   YFDAVD

In [156]:
# 29.	Display those rows of DF that their ‘machine_type’ is equal to ‘H’ or ‘R’ or ‘X’. (entire DataFrame)
machine = DF.machine_type
DF[(machine == "H") | (machine == "R") | (machine == "X")]

       id  range  value machine_type zip_code
275  2760  247.0   10.0            H   PUTZZV
438  4390  262.0   11.0            H   JLHUNV
611  6120  333.0   11.0            H   YHTGCK
497  4980  205.0   11.0            X   TKABSA
219  2200  375.0   13.0            R   ROTHUN
..    ...    ...    ...          ...      ...
871  8720  104.0   49.0            H   AGKGDY
346  3470  180.0   49.0            R   QFLPSO
51    520  204.0   50.0            H   JGEDHI
260  2610  287.0   50.0            H   YFDAVD
125  1260  400.0   50.0            X   AHOATF

[100 rows x 5 columns]

In [157]:
# 30.	Show the DF columns’ datatype. Display (select) only the numerical columns.
res = DF.select_dtypes(include= "number")
res

     range  value
950  137.0   10.0
635  146.0   10.0
888  430.0   10.0
203  148.0   10.0
648  494.0   10.0
..     ...    ...
109  127.0   50.0
670  191.0   50.0
0    192.0   50.0
921    NaN    NaN
0      NaN    NaN

[948 rows x 2 columns]