**Umit Kilinc** 

**101232721**

In [ ]:
import pandas as pd

In [ ]:
# 1.	Download the test.csv file and store it in a DataFrame named, myDF.
DF = pd.read_csv("/content/test.csv")

In [ ]:
# 2.	Show the first five rows of the DF.
DF.head()

In [ ]:
# 3.	Does the first row contain the column names? If not, please assign the following column names to them:
# [ID, Range, Value, Machine Type, Zip code]

DF_columns = ["ID", "Range", "Value", "Machine Type", "Zip Code"]

In [ ]:
# 4.	Add your name and student number on top of your dataset in your local file and show your DF with your name and student number as part of the dataset.
new_DF = [{
    "ID": "Umit Kilinc 101232721",
}]

DF = DF.append(new_DF)
DF

In [ ]:
# 5.	Now, use a method to skip the first row and show the DF as it was before adding your information.
pd.read_csv("/content/test.csv", skiprows=0)

In [ ]:
# 6.	Show the type of your DF.
DF.dtypes

In [ ]:
# 7.	Select the ‘Value’ column using two different commands. Which one is more object-oriented style?
DF=pd.read_csv('/content/test.csv', header=None, names=DF_columns)
DF.head()

In [ ]:
# Alternative to Q7
# Using loc[] to select columns. Enter the name of the column:
#DF_value = DF.loc[:, ["Value"]]
#DF_value

# Using iloc[] to select columns. Enter the index of the column:
#DF_value = DF.iloc[:, [2]]
#DF_value

# Alternative to Q9

# Yes, we can apply both methods to fetch both "Value" and "Zip Code" column

# Using loc[] to select multiple columns. Enter the name of the columns:
#DF_multiple = DF.loc[:, ["Value", "Zip Code"]]
#DF_multiple

# Using iloc[] to select multiple columns. Enter the index of the columns:
#DF_multiple = DF.iloc[:, [2, 4]]
#DF_multiple

In [ ]:
# 8.	What is the type of this selected column?
DF.dtypes

In [ ]:
# 9.	Can we apply both methods (mentioned in question 7) 
# for fetching the ‘Zip code’ column? Which other column has the same status? Why we cannot use both method for fetching its content? 
DF=pd.read_csv('/content/test.csv', header=None, names=DF_columns, skiprows=[1])
DF.head()

In [ ]:
# 10.	Create a new Series called ‘Brand’ by combining 'Machine Type' and 'Zip code' Series.
DF["Brand"] = DF["Machine Type"] + DF['Zip Code']
DF.head()

In [ ]:
# 11.	Create a new Series called ‘Total’ by multiplying ‘Range’ and ‘Value’ Series.
DF["Total"] = DF["Range"] * DF['Value']
DF.head()

In [ ]:
# 12.	Use the following commands:
# a.	myDF.head()
DF.head()

In [ ]:
# b.	myDF.describe()
DF.describe()

In [ ]:
# c.	myDF.describe
DF.describe

In [ ]:
# d.	myDF.shape
DF.shape

In [ ]:
# e.	myDF.dtypes.
DF.dtypes

 Why some have parentheses and some don’t? What is the difference between b. and c.?

In pandas actions require parantheses and attributes don't require paranthesis. 
 The difference between b. and c. is that b. is an action. 
 An action is a state of what you do. For instance, dog.sleep() or dog.bark(to_stranger).
 c. is an attribute. An attribute is a state of who you are. For instance, dog.breed or dog.color.

In [ ]:
# 13.	How can we use the describe() method to show the statistics for the object (not numerical) columns? 

# Describing all columns with object
DF.describe(include="object")

In [ ]:
# 14.	Rename the ‘ID’ to ‘My ID’ in the DF without replacing the ID Series name in the original DF. Show the unchanged DF by displaying the top 5 rows.
DF.rename(columns = {"ID": "My ID"}, inplace= False)
#DF.head()

In [ ]:
# 15.	Rename the ‘ID’ to ‘My ID’ inplace and show the changed column name using the head() method.
DF.rename(columns = {"ID": "My ID"}, inplace= True)
DF.head()

In [ ]:
# 16.	Show the DF columns.
print(DF.columns.tolist())

In [ ]:
# 17.	Change all the column names to ['id', 'range', 'value', 'machine type', 'zip code', 'brand', 'total'] and display the new column names.
DF_new_columns = ["id", "range", "value", "machine type", "zip code", "brand", "total"]
DF.columns = DF_new_columns
DF.head()

In [ ]:
# 18.	Replace all the spaces in the column names with ‘_’ and show the changed column again.
DF.columns = DF.columns.str.replace(" ", "_") 
DF.columns

In [ ]:
# 19.	Delete the 'brand', 'total' columns permanently. 
DF.drop(["brand", "total"], axis = 1, inplace = True)
DF.head()

In [ ]:
# 20.	Delete row number 3 and row number 5 from the DF permanently and show the top 5 rows.
DF.drop([2, 4], axis = 0, inplace=True)
DF.head()

In [ ]:
# 21.	Sort the value Series in ascending order, showing only the value column.
DF["value"].sort_values(ascending = True)

In [ ]:
# Q22
DF.sort_values("value", ascending = True)
#DF.head()

In [ ]:
# Q23
DF.sort_values("value", ascending = True, inplace = True)
#DF.head()

In [ ]:
DF.head()

In [ ]:
# Q24
DF.sort_values(["range", "value"], 
               ascending=[True, False])

In [ ]:
# Q25

DF[DF["range"].between(250, 300)].sort_values(by = ["range"])

In [ ]:
# Q26
DF[DF["range"].between(250, 300)].sort_values(by = ["range"], ascending = True)

In [ ]:
# Q27
range = DF.range
DF[(range >=250) & (range <= 350)][["id", "value"]]

In [ ]:
# Q28
range = DF.range
mt = DF.machine_type
DF[(range >=250) & (range <= 350) & (mt == "H")]

In [ ]:
# Q29
machine = DF.machine_type
DF[(machine == "H") | (machine == "R") | (machine == "X")]

In [ ]:
# Q30
res = DF.select_dtypes(include= "number")
res