In [315]:
import pandas as pd

In [316]:
# Q1
DF = pd.read_csv("/content/test.csv", names=DF_columns)

In [317]:
# Q2
DF.head()

   ID  Range  Value Machine Type Zip Code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [318]:
# Q3
DF_columns = ["ID", "Range", "Value", "Machine Type", "Zip Code"]

In [319]:
# Q4
new_DF = [{
    "ID": "Umit Kilinc 101232721",
}]

DF = DF.append(new_DF)
DF

                        ID  Range  Value Machine Type Zip Code
0                       10  192.0   50.0            F   NXEYEM
1                       20  299.0   21.0            M   VNFKZD
2                       30  378.0   28.0            X   IMGMFY
3                       40  156.0   44.0            Q   RHRHJY
4                       50  468.0   33.0            J   HPQCMC
..                     ...    ...    ...          ...      ...
947                   9470  316.0   46.0            L   SHBAUD
948                   9480  461.0   46.0            K   PUZUVO
949                   9490  185.0   13.0            N   UMESZO
950                   9500  137.0   10.0            W   JOHHVL
0    Umit Kilinc 101232721    NaN    NaN          NaN      NaN

[952 rows x 5 columns]

In [320]:
# Q5

In [321]:
# Q6
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
dtype: object

In [322]:
# Q7
DF=pd.read_csv('/content/test.csv', header=None, names=DF_columns)
DF.head()

   ID  Range  Value Machine Type Zip Code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [323]:
# Alternative to Q7
# Using loc[] to select columns. Enter the name of the column:
#DF_value = DF.loc[:, ["Value"]]
#DF_value

# Using iloc[] to select columns. Enter the index of the column:
#DF_value = DF.iloc[:, [2]]
#DF_value

# Alternative to Q9

# Yes, we can apply both methods to fetch both "Value" and "Zip Code" column

# Using loc[] to select multiple columns. Enter the name of the columns:
#DF_multiple = DF.loc[:, ["Value", "Zip Code"]]
#DF_multiple

# Using iloc[] to select multiple columns. Enter the index of the columns:
#DF_multiple = DF.iloc[:, [2, 4]]
#DF_multiple

In [324]:
# Q8
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
dtype: object

In [325]:
# Q9
DF=pd.read_csv('/content/test.csv', header=None, names=DF_columns, skiprows=[1])
DF.head()

   ID  Range  Value Machine Type Zip Code
0  10  192.0   50.0            F   NXEYEM
1  30  378.0   28.0            X   IMGMFY
2  40  156.0   44.0            Q   RHRHJY
3  50  468.0   33.0            J   HPQCMC
4  60  347.0   38.0            X   XFEWVB

In [326]:
# Q10
DF["Brand"] = DF["Machine Type"] + DF['Zip Code']
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand
0  10  192.0   50.0            F   NXEYEM  FNXEYEM
1  30  378.0   28.0            X   IMGMFY  XIMGMFY
2  40  156.0   44.0            Q   RHRHJY  QRHRHJY
3  50  468.0   33.0            J   HPQCMC  JHPQCMC
4  60  347.0   38.0            X   XFEWVB  XXFEWVB

In [327]:
# Q11
DF["Total"] = DF["Range"] * DF['Value']
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
2  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
3  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
4  60  347.0   38.0            X   XFEWVB  XXFEWVB  13186.0

In [328]:
# Q12 a.
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
2  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
3  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
4  60  347.0   38.0            X   XFEWVB  XXFEWVB  13186.0

In [329]:
# Q12 b.
DF.describe()

            Range       Value         Total
count  949.000000  949.000000    949.000000
mean   297.436249   29.952582   8968.824025
std    115.889604   12.270375   5263.333256
min    100.000000   10.000000   1090.000000
25%    194.000000   19.000000   4862.000000
50%    296.000000   30.000000   7920.000000
75%    399.000000   41.000000  12369.000000
max    500.000000   50.000000  24750.000000

In [330]:
# Q12 c.
DF.describe

<bound method NDFrame.describe of        ID  Range  Value Machine Type Zip Code    Brand    Total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
2      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
3      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
4      60  347.0   38.0            X   XFEWVB  XXFEWVB  13186.0
..    ...    ...    ...          ...      ...      ...      ...
945  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
946  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
947  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
948  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
949  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[950 rows x 7 columns]>

In [331]:
# Q12 d.
DF.shape

(950, 7)

In [332]:
# Q12 e.
DF.dtypes

# In pandas actions require parantheses and attributes don't require paranthesis. 
# The difference between b. and c. is that b. is an action. 
# An action is a state of what you do. For instance, dog.sleep() or dog.bark(to_stranger).
# c. is an attribute. An attribute is a state of who you are. For instance, dog.breed or dog.color.

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
Brand            object
Total           float64
dtype: object

In [333]:
# Q13 
# Describing all columns regardless of data type
DF.describe(include="all")

,ID,Range,Value,Machine Type,Zip Code,Brand,Total
count,950,949.000000,949.000000,947,940,938,949.000000
unique,950,NaN,NaN,26,940,938,NaN
top,10,NaN,NaN,F,NXEYEM,FNXEYEM,NaN
freq,1,NaN,NaN,50,1,1,NaN
mean,NaN,297.436249,29.952582,NaN,NaN,NaN,8968.824025
std,NaN,115.889604,12.270375,NaN,NaN,NaN,5263.333256
min,NaN,100.000000,10.000000,NaN,NaN,NaN,1090.000000
25%,NaN,194.000000,19.000000,NaN,NaN,NaN,4862.000000
50%,NaN,296.000000,30.000000,NaN,NaN,NaN,7920.000000
75%,NaN,399.000000,41.000000,NaN,NaN,NaN,12369.000000
max,NaN,500.000000,50.000000,NaN,NaN,NaN,24750.000000

In [334]:
# Q14
DF.rename(columns = {"ID": "My ID"}, inplace= False)
#DF.head()

    My ID  Range  Value Machine Type Zip Code    Brand    Total
0      10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1      30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
2      40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
3      50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
4      60  347.0   38.0            X   XFEWVB  XXFEWVB  13186.0
..    ...    ...    ...          ...      ...      ...      ...
945  9460  136.0   12.0            C   HGVBPV  CHGVBPV   1632.0
946  9470  316.0   46.0            L   SHBAUD  LSHBAUD  14536.0
947  9480  461.0   46.0            K   PUZUVO  KPUZUVO  21206.0
948  9490  185.0   13.0            N   UMESZO  NUMESZO   2405.0
949  9500  137.0   10.0            W   JOHHVL  WJOHHVL   1370.0

[950 rows x 7 columns]

In [335]:
# Q15
DF.rename(columns = {"ID": "My ID"}, inplace= True)
DF.head()

  My ID  Range  Value Machine Type Zip Code    Brand    Total
0    10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1    30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
2    40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
3    50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
4    60  347.0   38.0            X   XFEWVB  XXFEWVB  13186.0

In [336]:
# Q16
print(DF.columns.tolist())

['My ID', 'Range', 'Value', 'Machine Type', 'Zip Code', 'Brand', 'Total']

In [337]:
# Q17
DF_new_columns = ["id", "range", "value", "machine type", "zip code", "brand", "total"]
DF.columns = DF_new_columns
DF.head()

   id  range  value machine type zip code    brand    total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
2  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
3  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0
4  60  347.0   38.0            X   XFEWVB  XXFEWVB  13186.0

In [338]:
# Q18
DF.columns = DF.columns.str.replace(" ", "_") 
DF.columns

Index(['id', 'range', 'value', 'machine_type', 'zip_code', 'brand', 'total'], dtype='object')

In [339]:
# Q19
DF.drop(["brand", "total"], axis = 1, inplace = True)
DF.head()

   id  range  value machine_type zip_code
0  10  192.0   50.0            F   NXEYEM
1  30  378.0   28.0            X   IMGMFY
2  40  156.0   44.0            Q   RHRHJY
3  50  468.0   33.0            J   HPQCMC
4  60  347.0   38.0            X   XFEWVB

In [340]:
# Q20
DF.drop([2, 4], axis = 0, inplace=True)
DF.head()

   id  range  value machine_type zip_code
0  10  192.0   50.0            F   NXEYEM
1  30  378.0   28.0            X   IMGMFY
3  50  468.0   33.0            J   HPQCMC
5  70  327.0   24.0            F   NLVQPY
6  80  495.0   50.0            Z   DLUMAX

In [341]:
# Q21
DF["value"].sort_values(ascending = True)

949    10.0
634    10.0
935    10.0
814    10.0
138    10.0
       ...
918    50.0
108    50.0
669    50.0
0      50.0
920     NaN
Name: value, Length: 948, dtype: float64

In [342]:
# Q22
DF.sort_values("value", ascending = True)
#DF.head()

                               id  range  value machine_type zip_code
949                          9500  137.0   10.0            W   JOHHVL
634                          6360  146.0   10.0            Y   TARJLJ
935                          9360  194.0   10.0            Q   QVMEWD
814                          8160  109.0   10.0            B   INKSSV
138                          1400  177.0   10.0            G   EXINVX
..                            ...    ...    ...          ...      ...
918                          9200  189.0   50.0            Y   BPHKFD
108                          1100  127.0   50.0            C   KRFLNX
669                          6710  191.0   50.0            A   QSURZT
0                              10  192.0   50.0            F   NXEYEM
920  #Reza Dibaj, ST ID=101280076    NaN    NaN          NaN      NaN

[948 rows x 5 columns]

In [343]:
# Q23
DF.sort_values("value", ascending = True, inplace = True)
#DF.head()

In [344]:
DF.head()

       id  range  value machine_type zip_code
949  9500  137.0   10.0            W   JOHHVL
634  6360  146.0   10.0            Y   TARJLJ
935  9360  194.0   10.0            Q   QVMEWD
814  8160  109.0   10.0            B   INKSSV
138  1400  177.0   10.0            G   EXINVX

In [345]:
# Q24
DF.sort_values(["range", "value"], 
               ascending=[True, False])

                               id  range  value machine_type zip_code
503                          5050  100.0   21.0            S   KLYYQV
461                          4630  101.0   26.0            P   PBJHPM
797                          7990  101.0   20.0            E   QXAZJW
555                          5570  102.0   15.0            M   SSGQYR
750                          7520  103.0   44.0            Q   XOGVUH
..                            ...    ...    ...          ...      ...
162                          1640  499.0   13.0            M   JQQXBS
410                          4120  500.0   27.0            Q   NRNLPN
730                          7320  500.0   20.0            Z   JUKAMV
422                          4240  500.0   17.0            Q   IYUYPO
920  #Reza Dibaj, ST ID=101280076    NaN    NaN          NaN      NaN

[948 rows x 5 columns]

In [346]:
# Q25
DE = []
for length in DF.range:
  if length >= 250 and length >= 300:
    DE.append(True)
  else:
    DE.append(False)
DE[0:5]

[False, False, False, False, False]

In [347]:
len(DE)

948

In [348]:
frame = pd.Series(DE)
frame.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [349]:
DF[DE]

       id  range  value machine_type zip_code
887  8890  430.0   10.0            Q   VXHFZN
685  6870  333.0   10.0            G   BVONNE
537  5390  350.0   10.0            J   WEUVDY
269  2710  408.0   10.0            M   UHIEBQ
647  6490  494.0   10.0            B   QBVLDA
..    ...    ...    ...          ...      ...
882  8840  385.0   50.0            F   UBWOJQ
558  5600  395.0   50.0            T   CVSBMG
144  1460  302.0   50.0            S   DQIHRM
630  6320  434.0   50.0            V   XBTDQR
124  1260  400.0   50.0            X   AHOATF

[466 rows x 5 columns]

In [350]:
# Q26
range = DF.range
DF[(range >=250) & (range <= 350)]

       id  range  value machine_type zip_code
685  6870  333.0   10.0            G   BVONNE
537  5390  350.0   10.0            J   WEUVDY
505  5070  268.0   10.0            N   WHIZNL
437  4390  262.0   11.0            H   JLHUNV
807  8090  267.0   11.0            C   XTCQMQ
..    ...    ...    ...          ...      ...
541  5430  277.0   50.0            K   ATBSJF
305  3070  315.0   50.0            D   VFJBWF
259  2610  287.0   50.0            H   YFDAVD
254  2560  322.0   50.0            P   ZZFRMM
144  1460  302.0   50.0            S   DQIHRM

[203 rows x 5 columns]

In [359]:
# Q27
range = DF.range
DF[(range >=250) & (range <= 350)][["id", "value"]]

       id  value
685  6870   10.0
537  5390   10.0
505  5070   10.0
437  4390   11.0
807  8090   11.0
..    ...    ...
541  5430   50.0
305  3070   50.0
259  2610   50.0
254  2560   50.0
144  1460   50.0

[203 rows x 2 columns]

In [306]:
# Q28
range = DF.range
mt = DF.machine_type
DF[(range >=250) & (range <= 350) & (mt == "H")]

       id  range  value machine_type zip_code
437  4390  262.0   11.0            H   JLHUNV
610  6120  333.0   11.0            H   YHTGCK
301  3030  260.0   14.0            H   TKPHZO
492  4940  265.0   16.0            H   WCFHLX
524  5260  342.0   32.0            H   JNICZG
444  4460  280.0   32.0            H   RFJDWA
619  6210  261.0   47.0            H      NaN
259  2610  287.0   50.0            H   YFDAVD

In [360]:
# Q29
machine = DF.machine_type
DF[(machine == "H") | (machine == "R") | (machine == "X")]

       id  range  value machine_type zip_code
274  2760  247.0   10.0            H   PUTZZV
496  4980  205.0   11.0            X   TKABSA
437  4390  262.0   11.0            H   JLHUNV
610  6120  333.0   11.0            H   YHTGCK
218  2200  375.0   13.0            R   ROTHUN
..    ...    ...    ...          ...      ...
870  8720  104.0   49.0            H   AGKGDY
345  3470  180.0   49.0            R   QFLPSO
50    520  204.0   50.0            H   JGEDHI
259  2610  287.0   50.0            H   YFDAVD
124  1260  400.0   50.0            X   AHOATF

[101 rows x 5 columns]

In [362]:
# Q30
res = DF.select_dtypes(include= "number")
res

     range  value
949  137.0   10.0
634  146.0   10.0
935  194.0   10.0
814  109.0   10.0
138  177.0   10.0
..     ...    ...
918  189.0   50.0
108  127.0   50.0
669  191.0   50.0
0    192.0   50.0
920    NaN    NaN

[948 rows x 2 columns]