In [46]:
import pandas as pd

In [47]:
# Q1
DF = pd.read_csv("/content/test.csv", names=DF_columns)

In [48]:
# Q2
DF.head()

   ID  Range  Value Machine Type Zip Code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [49]:
# Q3
DF_columns = ["ID", "Range", "Value", "Machine Type", "Zip Code"]

In [50]:
# Q4
new_DF = [{
    "ID": "Umit Kilinc 101232721",
}]

DF = DF.append(new_DF)
DF

                        ID  Range  Value Machine Type Zip Code
0                       10  192.0   50.0            F   NXEYEM
1                       20  299.0   21.0            M   VNFKZD
2                       30  378.0   28.0            X   IMGMFY
3                       40  156.0   44.0            Q   RHRHJY
4                       50  468.0   33.0            J   HPQCMC
..                     ...    ...    ...          ...      ...
947                   9470  316.0   46.0            L   SHBAUD
948                   9480  461.0   46.0            K   PUZUVO
949                   9490  185.0   13.0            N   UMESZO
950                   9500  137.0   10.0            W   JOHHVL
0    Umit Kilinc 101232721    NaN    NaN          NaN      NaN

[952 rows x 5 columns]

In [ ]:
# Q5

In [55]:
# Q6
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
dtype: object

In [ ]:
# Q7

# Using loc[] to select columns. Enter the name of the column:
DF_value = DF.loc[:, ["Value"]]
DF_value

# Using iloc[] to select columns. Enter the index of the column:
DF_value = DF.iloc[:, [2]]
DF_value

In [ ]:
# Q8
DF_value.dtypes

In [ ]:
# Q9
# Yes, we can apply both methods to fetch both "Value" and "Zip Code" column

# Using loc[] to select multiple columns. Enter the name of the columns:
DF_multiple = DF.loc[:, ["Value", "Zip Code"]]
DF_multiple

# Using iloc[] to select multiple columns. Enter the index of the columns:
DF_multiple = DF.iloc[:, [2, 4]]
DF_multiple

In [ ]:
# Q10