In [46]:
import pandas as pd

In [93]:
# Q1
DF = pd.read_csv("/content/test.csv", names=DF_columns)

In [48]:
# Q2
DF.head()

   ID  Range  Value Machine Type Zip Code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [49]:
# Q3
DF_columns = ["ID", "Range", "Value", "Machine Type", "Zip Code"]

In [50]:
# Q4
new_DF = [{
    "ID": "Umit Kilinc 101232721",
}]

DF = DF.append(new_DF)
DF

                        ID  Range  Value Machine Type Zip Code
0                       10  192.0   50.0            F   NXEYEM
1                       20  299.0   21.0            M   VNFKZD
2                       30  378.0   28.0            X   IMGMFY
3                       40  156.0   44.0            Q   RHRHJY
4                       50  468.0   33.0            J   HPQCMC
..                     ...    ...    ...          ...      ...
947                   9470  316.0   46.0            L   SHBAUD
948                   9480  461.0   46.0            K   PUZUVO
949                   9490  185.0   13.0            N   UMESZO
950                   9500  137.0   10.0            W   JOHHVL
0    Umit Kilinc 101232721    NaN    NaN          NaN      NaN

[952 rows x 5 columns]

In [ ]:
# Q5

In [55]:
# Q6
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
dtype: object

In [90]:
# Q7
DF=pd.read_csv('/content/test.csv', header=None, names=DF_columns)
DF.head()

   ID  Range  Value Machine Type Zip Code
0  10  192.0   50.0            F   NXEYEM
1  20  299.0   21.0            M   VNFKZD
2  30  378.0   28.0            X   IMGMFY
3  40  156.0   44.0            Q   RHRHJY
4  50  468.0   33.0            J   HPQCMC

In [ ]:
# Alternative to Q7
# Using loc[] to select columns. Enter the name of the column:
#DF_value = DF.loc[:, ["Value"]]
#DF_value

# Using iloc[] to select columns. Enter the index of the column:
#DF_value = DF.iloc[:, [2]]
#DF_value

# Alternative to Q9

# Yes, we can apply both methods to fetch both "Value" and "Zip Code" column

# Using loc[] to select multiple columns. Enter the name of the columns:
#DF_multiple = DF.loc[:, ["Value", "Zip Code"]]
#DF_multiple

# Using iloc[] to select multiple columns. Enter the index of the columns:
#DF_multiple = DF.iloc[:, [2, 4]]
#DF_multiple

In [79]:
# Q8
DF.dtypes

ID               object
Range           float64
Value           float64
Machine Type     object
Zip Code         object
dtype: object

In [89]:
# Q9
DF=pd.read_csv('/content/test.csv', header=None, names=DF_columns, skiprows=[1])
DF.head()

   ID  Range  Value Machine Type Zip Code
0  10  192.0   50.0            F   NXEYEM
1  30  378.0   28.0            X   IMGMFY
2  40  156.0   44.0            Q   RHRHJY
3  50  468.0   33.0            J   HPQCMC
4  60  347.0   38.0            X   XFEWVB

In [102]:
# Q10
DF["Brand"] = DF["Machine Type"] + DF['Zip Code']
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand
0  10  192.0   50.0            F   NXEYEM  FNXEYEM
1  20  299.0   21.0            M   VNFKZD  MVNFKZD
2  30  378.0   28.0            X   IMGMFY  XIMGMFY
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY
4  50  468.0   33.0            J   HPQCMC  JHPQCMC

In [103]:
# Q11
DF["Total"] = DF["Range"] * DF['Value']
DF.head()

   ID  Range  Value Machine Type Zip Code    Brand    Total
0  10  192.0   50.0            F   NXEYEM  FNXEYEM   9600.0
1  20  299.0   21.0            M   VNFKZD  MVNFKZD   6279.0
2  30  378.0   28.0            X   IMGMFY  XIMGMFY  10584.0
3  40  156.0   44.0            Q   RHRHJY  QRHRHJY   6864.0
4  50  468.0   33.0            J   HPQCMC  JHPQCMC  15444.0

In [ ]:
# Q12 a.
DF.head()

In [ ]:
# Q12 b.
DF.describe()

In [ ]:
# Q12 c.
DF.describe

In [111]:
# Q12 d.
DF.shape

(951, 7)

In [ ]:
# Q12 e.
DF.dtypes

# In pandas actions require parantheses and attributes don't require paranthesis. 
# The difference between b. and c. is that b. is an action. 
# An action is a state of what you do. For instance, dog.sleep() or dog.bark(to_stranger).
# c. is an attribute. An attribute is a state of who you are. For instance, dog.breed or dog.color.